#add-container {
  color: lightgrey;
}

#add-header {
  margin: 10px;
}

#add-back {
  float: left;
  color: orange;
}

#add-add {
  float: right;
  color: green;
}

#add-img {
  height: 60px;
}

#add-img-input {
  display: none;
}

.add-icon {
  flex: 0px 0px 18px;
}

#add-description {
  margin-top: 5px;
  padding-left: 10px;
  display: flex;
}

.header {
    width: 100%;
    color: orange;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    opacity: 1;
    background-color: white;
    z-index: 10;
}
.add-view-input {
    flex: 1 1 0px;
    padding: 5px;
    padding-left: 10px;
    border-width: 0px;
    color: black;
}
.add-view-input.title {
    font-size: 25px;
    font-weight: bold;
}
.add-view-input:active {
    border-width: 0px;
}
.add-view-input-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 3;
    padding-top: 3;
}
.add-view-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.add-view-date-select {
    flex: 0;
    width: 100px;
    padding: 5px;
    padding-left: 10px;
    border-width: 0px;
    color: black;
}
.invalid {
    border-width: 1px;
    border-color: red;
}
.saving-data-indicator {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    padding-top: 50%;
    color: green;
    background-color: #dddddd;
    opacity: 0.5;
}
.add-view-img-file-name {
    font-size: 20px;
    font-weight: bold;
    color: green;
    position: absolute;
    top: 160px;
    text-align: center;
    width: 100%;
}
