#xaxis .domain {
    fill:none;
    stroke:#000;
}
#xaxis text, #yaxis text {
    font-size: 2em;
}

.y.axis .domain {
  visibility: hidden;
}

text {
  font-size: 1.5em;
  font-family: Fira Mono, Times New Roman;
  fill: #212121;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.nav-container {
  text-align: center;
  margin:0.1em;
  border: 1px, 1px, 1px, 1px;
}

.navbar {
  -webkit-box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
}

.navbar-header {
  color: #FB8C00;
  font-size: 1.3em;
}

.navbar-light .container-fluid .navbar-brand {
    color: #FB8C00;
}

#toast {
    position: absolute;
    right: 1%;
    bottom: 1%;
    text-align: center;
    border-radius: 2px; /* Rounded borders */
}

#card {
  text-align: center;
  -webkit-box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
}

.card-title {
  margin-top: 0.3em;
  color: #FB8C00;
}

.toast-container {
  width: 100%;
  height: 100%;
  position: fixed;
  padding-left: 1%;
  z-index: 1;
}

.superlike-enter {
  opacity: 0.01;
}

.superlike-enter.superlike-enter-active {
  opacity:1;
  transition: opacity 200ms ease-in;
}

.superlike-leave {
  opacity: 1;
}

.superlike-leave.superlike-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}


@media screen and (max-width: 1600px) {
    #card {
      max-width: 15rem;
    }
}
