.wrapper {
  float:right;
}


#xaxis .domain {
    fill:none;
    stroke:#000;
}
#xaxis text, #yaxis text {
    font-size: 12px;
}

.y.axis .domain {
  visibility: hidden;
}

text {
  font-family: 'Roboto', sans-serif;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
