#xaxis .domain {
    fill:none;
    stroke:#000;
}
#xaxis text, #yaxis text {
    font-size: 2em;
}

.tick line {
  visibility: hidden;
}

.y.axis .domain {
  visibility: hidden;
}

.tick text {
  font-size: 1.8em;
  font-family: Fira Mono, Times New Roman;
  fill: #212121;
}



.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

#logo {
  height: 2.5em;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.navbar {
  -webkit-box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
}

#toast {
    position: absolute;
    right: 1%;
    bottom: 1%;
    text-align: center;
    border-radius: 2px; /* Rounded borders */
}

#card {
  text-align: center;
  -webkit-box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 15px -7px rgba(0,0,0,0.75);
}

#toast-title {
  margin-top: 0.3em;
  color:#212121;
}

#toast-like {
  color: #FB8C00;
}


.toast-container {
  width: 100%;
  height: 100%;
  position: fixed;
  padding-left: 1%;
  z-index: 1;
}

.superlike-enter {
  opacity: 0.01;
}

.superlike-enter.superlike-enter-active {
  opacity:1;
  transition: opacity 200ms ease-in;
}

.superlike-leave {
  opacity: 1;
}

.superlike-leave.superlike-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}


@media screen and (max-width: 1600px) {
    #card {
      max-width: 15rem;
    }
}
