#tinderable-front {
    width: 90%;
    max-width: 700px;
    margin: auto;
}

#action-indicator {
    text-align: center;
}

#actions {
	width: 100%;
	border: 1px solid red;
}

button {
	width: 100%;
}
